{% extends "basic_layout.html" %}
{% block content %}
    <h2>About this app:</h2>
    <a>This is a student project written as an assigment for passing Scripting Languages Classes. The webapp lets the
        users search for recipes stored in its own database and allows for adding new ones (login required). The Best
        Recipes has a register and login functionality. Logged users can additionally look through recipes added by them
        and can also modify or delete them. They are able to add other users' recipes to their 'Favourites' catalogue.
    </a>
{% endblock content %}